


*{
  padding:0;
  margin:0;
  text-align:center;
}
h1{
  height:5rem;
  background:#081b31;
  color:white;
  line-height:5rem;
}
.choice{
  height:165px;
  width:165px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
img{
  height:150px;
  width:150px;
  object-fit:cover;
  border-radius:50%;
}
.choices{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:5rem;
  gap:3rem;
}
.choice:hover{
  background:black;
  cursor:pointer;
}
.score-board{
  display:flex;
  justify-content:center;
  align-itmes:center;
  gap:3rem;
  font-size:2rem;
  margin-top:3rem;
}
#user-score,#computer-score{
  font-size:4rem;
}
#msg{
  background:#081b31;
  color:white;
  font-size:2rem;
  display:inline-block;
  margin-top:5rem;
  padding:1rem;
  border-radius:1rem;
}
